$color-black-full: #000000;
$color-black-main: #131313;
$color-black-darker-1: #161616;
$color-black-darker-2: #1a1a1a;
$color-black-darker-3: #1f1f1f;
$color-black-darker-4: #1d1d1d;
$color-black-darker: #0e0e0e;
$color-white-full: #fff;
$color-orange: #ff8f3e;
$color-orange-darker-1: #994a11;
$color-gray: #8c8c8c;
$color-gray-lighter-1: #c3c3c3;
$color-gray-lighter-2: #b1b1b1;
$color-gray-lighter-3: #dfdfdf;
$color-gray-darker-1: #828282;
$color-gray-darker-2: #9b9b9b;
$color-gray-darker-3: #b1b1b1;
$color-gray-darker-4: #565656;
$color-gray-darker-5: #878787;
$color-gray-darker-6: #929292;
$color-gray-darker-6: #888888;

$border-radius: 2rem;

$burger-height: 3px;
$burger-gap: 1rem;
$burger-box-height: 3rem;
$burger-width: 5rem;
